@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
body {
  margin: 0;
  padding: 0;
  font-family: "Outfit", serif;
  box-sizing: border-box;
}

li {
  list-style: none;
}
a {
  text-decoration: none !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Outfit", serif;
  margin: 0;
}
ul,
p {
  margin: 0;
  padding: 0;
}
img {
  width: 100%;
}





.box_image {
  overflow: hidden;
  position: relative;
}
.box_image img:hover {
  transform: scale(1.1);
  transition: all 0.3s ease-in;
}

.box_image .hover_image {
  position: absolute;
  opacity: 0;
  bottom: 5%;
  text-align: center;
  width: 100%;
  left: 50%;
  transform: translate(-50%, 0);
}
.box_image:hover .hover_image {
  opacity: 1;
  transition: all 0.1s ease-in;
}

.box_image .hover_image svg {
  font-size: 40px;
  background-color: #d2b955;
  color: #fff;
  padding: 10px;
  border-radius: 50%;
}
.full-section {
  background-image: url("https://i.postimg.cc/QM4wPCvv/vogue-beautiful-woman-posing-black-dress.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
  width: 100%;
  position: relative;
  background-attachment: fixed;
}
.client-image{
  background-image: url("https://i.postimg.cc/VshkCxLP/06001d4a6d70355f3f5998f556ae5a54.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
  width: 100%;
  position: relative;
  background-attachment: fixed;
}

.client-image::after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.);
  width: 100%;
}
.full-section::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
}
.client-content{
  z-index: 23;
  position: relative;
}
.full-section .fullsection-content {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 22;
}
/* Client Testimonial */
.testimonial-card {
  padding: 20px;
  text-align: center;
  background-color: #fff;
  border-radius: 10px;
}

.testimonial-card h3 {
  margin-top: 10px;
  font-size: 1.25rem;
  font-weight: 600;
}

.testimonial-card p {
  color: #555;
  margin: 15px 0;
}

.testimonial-card .MuiSvgIcon-root {
  color: #f5b301;
}

.slick-arrow {
  z-index: 1000;
  color: #000 !important;
}

.slick-dots li button:before {
  color: #000 !important;
}

