@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
body {
  margin: 0;
  padding: 0;
  font-family: "Outfit", serif;
  box-sizing: border-box;
}

li {
  list-style: none;
}
a {
  text-decoration: none !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Outfit", serif;
  margin: 0;
}
ul,
p {
  margin: 0;
  padding: 0;
}
img {
  width: 100%;
}
.box_image {
  overflow: hidden;
  position: relative;
  width: 220px;
  height: 250px;
}

.box_image .hover_image {
	position: absolute;
  top: 6%;
	right: 0%;
	text-align: center;
	opacity: 0;
	display: flex;
	flex-direction: column;
	height: 100%;
  overflow: hidden;
}
.box_image:hover .hover_image{
  opacity: 1;
  top: 6%;
	right: 6%;
  transition: all 0.5s ease-in-out;
}
.box_image:hover .hover_image svg {
  background-color: #000;
  transition: all 0.1s ease-in;
}
.box_image .hover_image svg {
	font-size: 32px;
	border: 1px dotted #fff;
	color: #fff;
	padding: 5px;
	border-radius: 50%;
}
.full-section {
  background-image: url("https://i.postimg.cc/QM4wPCvv/vogue-beautiful-woman-posing-black-dress.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
  width: 100%;
  position: relative;
  background-attachment: fixed;
}
.client-image {
  background-image: url("https://i.postimg.cc/VshkCxLP/06001d4a6d70355f3f5998f556ae5a54.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
  width: 100%;
  position: relative;
  background-attachment: fixed;
}

.client-image::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0);
  width: 100%;
}
.full-section::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
}
.client-content {
  z-index: 23;
  position: relative;
}
.full-section .fullsection-content {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 22;
}
/* Client Testimonial */
.testimonial-card {
  padding: 20px;
  text-align: center;
  background-color: #fff;
  border-radius: 10px;
}

.testimonial-card h3 {
  margin-top: 10px;
  font-size: 1.25rem;
  font-weight: 600;
}

.testimonial-card p {
  color: #555;
  margin: 15px 0;
}

.testimonial-card .MuiSvgIcon-root {
  color: #f5b301;
}
.slick-prev,
.slick-next {
  z-index: 2;
}
.slick-prev::before,
.slick-next::before {
  content: "";
}
.slick-slider button {
  width: 30px;
  height: 30px;
}
input:focus-visible {
  outline: none;
}

.blur-content {
  filter: blur(5px);
}

/* Product Details Images */
.ProductDetails_image {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  margin: auto;
}

@media (max-width: 767px) {
  .ProductDetails_image {
    height: 400px;
  }
}
/* .hero_Image{
  position: absolute;
  left: 0;
  right: 0;
} */
/* .slick-slide {
  margin: 0 8px; 
}
.slick-list {
  margin: 0 -10px; 
} */
