@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
body {
  margin: 0;
  padding: 0;
  font-family: "Outfit", serif;
  box-sizing: border-box;
}

li {
  list-style: none;
}
a {
  text-decoration: none !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Outfit", serif;
  margin: 0;
}
ul,
p {
  margin: 0;
  padding: 0;
}
img {
  width: 100%;
}

.slider-item {
  position: relative;
}

.slider-text {
  position: absolute;
  top: 50%;
  z-index: 1;
  left: -100%; /* Start outside the view */
  color: #fff;
  text-align: center;
  opacity: 0;
  transform: translateY(-50%);
  transition: all 0.6s ease-in-out; /* Smooth animation for left and opacity */
}

.slider-text h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin: 0;
  text-align: left;
}

.slider-text p {
  font-size: 1.2rem;
  margin: 10px 0 0;
}

.animate-active {
  left: 10%;
  opacity: 1;
}

@media (max-width: 960px) {
  .slider-text h1 {
    font-size: 2rem;
  }

  .slider-text p {
    font-size: 1rem;
  }
}

@media (max-width: 600px) {
  .slider-text h1 {
    font-size: 1.5rem;
    text-align: center;
  }

  .slider-text p {
    font-size: 0.9rem;
  }

  .animate-active {
    left: 5%;
  }
}

/* Add this to your CSS file */
.ant-carousel .slick-slide {
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out; /* Custom easing */
}
.slider-item::after {
  position: absolute;
  content: "";
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  display: block;
}
.product-image {
  width: 400px;
  height: 400px;
}
.product-image img {
  width: 100%;
}

.box_image {
  overflow: hidden;
  position: relative;
}
.box_image img:hover {
  transform: scale(1.1);
  transition: all 0.3s ease-in;
}

.box_image .hover_image {
  position: absolute;
  opacity: 0;
  bottom: 5%;
  text-align: center;
  width: 100%;
  left: 50%;
  transform: translate(-50%, 0);
}
.box_image:hover .hover_image {
  opacity: 1;
  transition: all 0.1s ease-in;
}

.box_image .hover_image svg {
  font-size: 40px;
  background-color: #d2b955;
  color: #fff;
  padding: 10px;
  border-radius: 50%;
}
.full-section {
  background-image: url("https://i.postimg.cc/QM4wPCvv/vogue-beautiful-woman-posing-black-dress.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
  width: 100%;
  position: relative;
  background-attachment: fixed;
}
.client-image{
  background-image: url("https://i.postimg.cc/VshkCxLP/06001d4a6d70355f3f5998f556ae5a54.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
  width: 100%;
  position: relative;
  background-attachment: fixed;
}

.client-image::after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.);
  width: 100%;
}
.full-section::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
}
.client-content{
  z-index: 23;
  position: relative;
}
.full-section .fullsection-content {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 22;
}
/* Client Testimonial */
.testimonial-card {
  padding: 20px;
  text-align: center;
  background-color: #fff;
  border-radius: 10px;
}

.testimonial-card h3 {
  margin-top: 10px;
  font-size: 1.25rem;
  font-weight: 600;
}

.testimonial-card p {
  color: #555;
  margin: 15px 0;
}

.testimonial-card .MuiSvgIcon-root {
  color: #f5b301;
}

.slick-arrow {
  z-index: 1000;
  color: #000 !important;
}

.slick-dots li button:before {
  color: #000 !important;
}

.slider-item {
  position: relative;
  text-align: center;
  color: white;
}

.slider-text {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  opacity: 0;
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.slider-text.animate-active {
  opacity: 1;
  transform: translateX(-50%) translateY(0);
}

h1 {
  font-size: 2rem;
  margin: 0.5rem 0;
}

p {
  font-size: 1.2rem;
}
